footer {
  padding: 50px 0px;
  .footer-content {
    .infos {
      display: flex;
      justify-content: space-between;
      .title {
        margin-bottom: 30px;
        color: #9f9f9f;
      }
      p {
        margin-bottom: 10px;
        color: black;
      }
      label {
        input {
          border: none;
          margin-right: 10px;
          background-color: transparent;
          border-bottom: 1px solid black;
          outline: none;
        }
        input:nth-child(2) {
          cursor: pointer;
        }
        input:nth-child(1) {
          width: 200px;
          font-size: 14px;
        }
      }
      h4 {
        font-size: 25px;
      }
      .description {
        margin-top: 40px;
        width: 250px;
        color: gray;
      }
    }
  }
}
