nav {
  width: 100%;
  background-color: #fff;
  position: fixed;
  z-index: 999;
  svg {
    display: none;
  }
  padding: 25px 0px;
  box-shadow: 0 4px 2px -2px rgba(111, 97, 97, 0.099);
  .navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      width: 150px;
      cursor: pointer;
    }
    ul {
      display: flex;
      gap: 70px;
      li {
        list-style-type: none;
        position: relative;

        a {
          text-decoration: none;
          &::before {
            content: "";
            position: absolute;
            bottom: 0px;
            height: 2px;
            width: 0px;
            left: 0px;
            background-color: black;
            transition: 0.2s all ease;
          }
          &:hover::before {
            width: 100%;
          }
        }
      }
    }
    .icons {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 30px;
      .icon {
        cursor: pointer;
      }
    }
  }
}
@media screen and (max-width: 991px) {
  nav {
    background-color: #fffcfc;
    transition: 0.4s;
    &.active {
      height: 200px;
    }
    height: 80px;
    overflow: hidden;

    .navbar-container {
      flex-direction: column;
      gap: 30px;
    }
    svg {
      display: block;
      position: absolute;
      right: 30px;
      top: 30px;
      font-size: 30px;
    }
  }
}

@media screen and (max-width: 560px) {
  nav {
    &.active {
      height: 370px;
    }
    .navbar-container {
      ul {
        flex-direction: column;
        text-align: center;
        gap: 30px;
      }
    }
  }
}
